body {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }
}

fieldset {
  width: 250px;
}

input {
  field-sizing: content;
}
